.git
.gitignore
.env
node_modules
npm-debug.log
src
test
docs
images
instruction_images
utils
*.md
*.js.map
*.ipynb
esbuild.config.mjs
eslint.config.mjs
terser.config.mjs
terser_vite.config.ts
vite.config.ts
vitest.config*.ts
tsconfig.json
package-lock.json
styles.css
pouchdb-browser.js
